@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="text-center">
    <h2> Yum! Check out our tasty dishes! </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Name </th>
                <th> Chef</th>
                <th> Tastiness </th>
                <th> Calories </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dish dish in Model)
            {
                <tr>
                    <td> @dish.Name</td>
                    @* <td> @chef.Genero </td>
                    <td> @chef.Anio </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>