@model Chef
<h2>Add a Chef</h2>
<form method="POST" asp-controller="Home" asp-action="ProcesaChef">
    <div class=" mb-3">
        <label asp-for="FirstName" class="form-label"> First Name: </label>
        <input type="text" asp-for="FirstName" class="form-control">
        <span asp-validation-for="FirstName" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"> Last Name: </label>
        <input type="text" asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="form-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label"> Date of Birth: </label>
        <input class="form-control" asp-for="DateOfBirth">
        <span asp-validation-for="DateOfBirth" class="form-text"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Chef</button>
</form>